
:root{
    font-family: Arial, Helvetica, sans-serif;
    --teal: #007d7b;
    --black: #000000;
    --white: #ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    overflow: auto;
}

h1{
    font-size: 3em;
    color: var(--teal);
    background-color: var(--white);
    display: grid;
    justify-content: center;
    text-transform: uppercase;
    margin: 0px 4em;
    justify-items: center;
}

nav a{
    font-size: 1.5em;
    color: var(--white);
    text-decoration: none;
}

nav li{
    display: grid;
    text-transform: uppercase;
}

#top{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: var(--black);
    border: var(--white) 3px;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

h2{
    font-size: 2em;
}

main{
    display: grid;
    background-color: var(--white);
    justify-items: center;
    margin: 1em 5em;
}

.aboutGal{
    display: grid;
    justify-items: center;
}

.aboutGal p{
    line-height: 38px;
}

.aboutGal h2{
    text-transform: uppercase;
}

p{
    font-size: 1.25em;
}

figcaption, label, input, small{
    font-size: 1em;
}

figure{
    display: grid;
    justify-items: center;
    position: relative;
    justify-content: center;
}

figcaption{
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    justify-items: center;
}

#chile, #guatemala, #hawaii, #moab, #wyoming{
    color: var(--white);
}

#chile, #italy, #moab{
    display: grid;
    align-items: end;
}

footer{
    display: grid;
    justify-content: center;
    color: var(--white);
}

form{
    display: grid;
    justify-content: center;
    line-height: 22px;
}
form h2{
    display: grid;
    justify-items: center;
    text-transform: uppercase;
}
p small{
    display: grid;
    justify-content: center;
}

::placeholder{
    color: var(--teal);
    font-weight: 700;
}

label{
    text-transform: uppercase;
    display: grid;
    font-size: small;
    padding: 2px;
}
input{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

#submit{
    border-radius: 12px;
    background-color: var(--teal);
    color: var(--white);
    padding: 4px;
    margin-top: 12px;
}






@media screen and (min-width:880px){
    body {
        width: 880px;
        display: grid;
    }
    .pics{
        display: grid;
        grid-template-columns: auto auto;
    }
}
@media screen and (min-width:1300px){
    body {
        width: 1300px;
        display: grid;
    }
    .pics{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    nav{
        display: grid;
        justify-items: right;
    }
}