html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    font-family: Arial, Helvetica, sans-serif;
    --teal: #007d7b;
    --black: #000000;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--black);
    min-width: 485px;
    display: grid;
}

h1{
    font-size: 3em;
    font-weight: bold;
    color: var(--teal);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0px 80px;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav a{
    font-size: 1.5em;
    color: var(--white);
    text-decoration: none;
}

nav li{
    display: grid;
    text-transform: uppercase;
}

#top{
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: var(--black);
    width: 65px;
    height: 35px;
    justify-content: center;
    align-content: center;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 20px;
}

h2{
    font-size: 2em;
    font-weight: bold;
}

main{
    display: grid;
    background-color: var(--white);
    justify-items: center;
    margin: 1em 5em;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutGal{
    display: grid;
    justify-items: center;
}

.aboutGal p{
    line-height: 30px;
    padding: 10px 10px;
}

.aboutGal h2{
    text-transform: uppercase;
    padding-top: 10px;
}

p{
    font-size: 1.25em;
}

figcaption, label, input, small{
    font-size: 1em;
}

figure{
    display: grid;
    justify-items: center;
    position: relative;
    justify-content: center;
    padding: 20px;
}

figcaption{
    display: grid;
    /* justify-content: center;
    align-content: center; */
    position: absolute;
    z-index: 1;
    text-transform: uppercase;
    /* justify-items: center; */
    padding: 30px;
}

#chile, #guatemala, #hawaii, #moab, #wyoming{
    color: var(--white);
}

#chile, #italy, #moab, #hawaii{
    display: grid;
    align-items: end;
}

.pics{
    display: grid;
    grid-template-columns: auto;
}

footer{
    display: grid;
    justify-content: center;
    color: var(--white);
}

form{
    display: flex;
    flex-direction: column;
}


form h2{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

form p{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 40px;
}

p small{
    display: grid;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

::placeholder{
    color: var(--teal);
    font-weight: 700;
}

label{
    text-transform: uppercase;
    display: flex;
    /* font-size: small; */
}
input{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 40px;
}

#submit{
    border-radius: 14px;
    background-color: var(--teal);
    color: var(--white);
    padding: 4px;
    margin-top: 12px;
    width: 185px;
    align-self: center;
}




@media screen and (min-width:880px){
    body {
        min-width: 880px;
        display: grid;
    }
    .pics{
        display: grid;
        grid-template-columns: auto auto;
    }

    h1{
        display: flex;
        justify-content: left;
        padding-left: 8px;
    }

    ul{
        display: flex;
        justify-content: center;
    }

    nav li{
        display: grid;
        padding: 10px;
    }

    #hawaii{
        display: grid;
        align-items: start;
    }

    footer{
        display: grid;
        justify-content: center;
        color: var(--white);
        justify-items: center;
    }

    form{
        width: 140%;
    }
    }

@media screen and (min-width:1300px){
    body {
        min-width: 1300px;
        display: grid;
    }
    .pics{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    nav{
        display: grid;
        justify-items: right;
    }
}