
:root{
    font-family: Arial, Helvetica, sans-serif;
    --teal: #007d7b;
    --black: #000000;
    --white: #ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: var(--black); */
}

h1{
    font-size: 3em;
    color: var(--teal);
    background-color: var(--white);
    display: grid;
    justify-content: center;
    text-transform: uppercase;
}

nav a{
    font-size: 1.5em;
}

ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2{
    font-size: 2em;
}

main{
    display: grid;
    background-color: var(--white);
}

p{
    font-size: 1.25em;
}

figcaption, label, input, small{
    font-size: 1em;
}